// typography
@import 'typography';

// variables (colors, functions, mixins, ...)
@import 'helpers/variables';

// basic element styles
@import 'elements';

// helpers
@import 'helpers/helpers';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IRANSans;
}

html{
    direction: rtl;
}

// .main {
//     margin: 60px 0px 350px;

//     @include mq (md) {
//         margin: 75px 0px 400px;
//     }

//     @include mq(lg) {
//         margin: 90px 0px 450px;
//     }
// }
